!!!
%html{lang: "en"}
  %head
    %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=UA-5741980-10"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-5741980-10');
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/
    / Primary Meta Tags
    %title Harris Novick
    %meta{:content => "Harris Novick", :name => "title"}/
    %meta{:content => "The personal homepage of Harris Novick. Writing software, writing songs, building products and companies, meeting new people and learning new skills; staying interested and vital above most else.", :name => "description"}/
    / Open Graph / Facebook
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "https://harrisnovick.com/", :property => "og:url"}/
    %meta{:content => "Harris Novick", :property => "og:title"}/
    %meta{:content => "The personal homepage of Harris Novick. Writing software, writing songs, building products and companies, meeting new people and learning new skills; staying interested and vital above most else.", :property => "og:description"}/
    %meta{:content => "https://i.imgur.com/Jyg37Bk.gif", :property => "og:image"}/
    / Twitter
    %meta{:content => "summary_large_image", :property => "twitter:card"}/
    %meta{:content => "https://harrisnovick.com/", :property => "twitter:url"}/
    %meta{:content => "Harris Novick", :property => "twitter:title"}/
    %meta{:content => "The personal homepage of Harris Novick. Writing software, writing songs, building products and companies, meeting new people and learning new skills; staying interested and vital above most else.", :property => "twitter:description"}/
    %meta{:content => "https://i.imgur.com/Jyg37Bk.gif", :property => "twitter:image"}/
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #hdn_outer.container
      #hdn_inner
        .row.title-row
          .col
            %h1.text-center HDN
        .row.image-row
          .col
          .col.text-center= image_tag "mind-blown.gif", alt: "Harris Novick", class: "mind-blown"
          .col
        .row
          .col
            .d-flex.justify-content-between.align-items-center
              = link_to image_tag("socialBlockGithub.svg", alt: "GitHub", class: "img-fluid"), "https://github.com/lightyrs", class: "d-inline-block"
              = link_to image_tag("socialBlockLinkedin.svg", alt: "LinkedIn", class: "img-fluid"), "https://linkedin.com/in/harrisnovick", class: "d-inline-block"
              = link_to image_tag("socialBlockTumblr.svg", alt: "Tumblr", class: "img-fluid"), "https://harrisnovick.tumblr.com", class: "d-inline-block"
